<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
 
  <style>
    body {
      background-color: #b94051;
    }
    .card {
      border: 1px solid #e19110;
      padding: 10px;
      margin: 10px;
      width: 400px;
      height: 300px;
      display: inline-block;
      overflow: hidden;
    }

    .card h3 {
      margin-bottom: 10px;
    }

    .card p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      /* Show ellipsis for overflow text */
      white-space: nowrap;
      /* Prevent wrapping */
    }
  </style>
</head>

<body>
  
  <div style="float: right; margin: 10px;">
    <a href="/profile" class="text-dark mr-4">
      <span class="fas fa-user"></span>
    </a>
    <a href="/auth/login" class="text-dark">
      <span class="fas fa-sign-out-alt"></span>
    </a>
  </div>
  <div>
    <input type="text" id="searchInput" placeholder="Search for a book" value="<%= input === '*'? '' : input %>"
      style="text-align: center; width: 50%; margin: 10px 0;">
    <button onclick="search(<%= currentPage %>)">Search</button>
  </div>
  <div>
    <% cards.forEach(card=> { %>
      <div class="card">
        <h3>
          <%= card.title %>
        </h3>
        <p>Author: <%= card.author_name %>
        </p>
        <p>Publish Year: <%= card.publish_year %>
        </p>
        <a href="/books/<%= card.isbn %>">View Book Details</a>
      </div>
      <% }); %>
  </div>

  <div>
    <% if (currentPage> 1) { %>
      <button onclick="search(<%= currentPage - 1  %>)">Previous</button>
      <% } %>

        Page <%= currentPage %> of <%= totalPages %>

            <% if (currentPage < totalPages) { %>
              <button onclick="search(<%= currentPage + 1  %>)">Next</button>
              <% } %>
  </div>
  </div>
  <script>
    function search(pageNumber) {
      console.log('pageNumber: ', pageNumber);
      const searchElement = document.getElementById('searchInput');
      const searchInput = searchElement.value.trim();
      const searchUrl = `/books/search?input=${searchInput}&page=${pageNumber}`;
      console.log('url: ', searchUrl);
      window.location.href = searchUrl;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>  
</body>
</html>