<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
  <!-- Add any additional CSS or stylesheets here -->
  <style>
    .card {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      width: 400px;
      height: 300px;
      display: inline-block;
      overflow: hidden;
    }

    .card h3 {
      margin-bottom: 10px;
    }

    .card p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      /* Show ellipsis for overflow text */
      white-space: nowrap;
      /* Prevent wrapping */
    }
  </style>
</head>

<body>
  <div style="float: right; margin: 10px;">
    <a href="/profile"><img src="/profile-icon.png" alt="Profile"></a>
    <a href="/logout"><img src="/logout-icon.png" alt="Logout"></a>
  </div>
  <div>
    <input type="text" id="searchInput" placeholder="Search for a book" value="<%= input === '*'? '' : input %>"
      style="text-align: center; width: 50%; margin: 10px 0;">
    <button onclick="search(<%= currentPage %>)">Search</button>
  </div>
  <div>
    <% cards.forEach(card=> { %>
      <div class="card">
        <h3>
          <%= card.title %>
        </h3>
        <p>Author: <%= card.author_name %>
        </p>
        <p>Publish Year: <%= card.publish_year %>
        </p>
      </div>
      <% }); %>
  </div>

  <div>
    <% if (currentPage> 1) { %>
      <button onclick="search(<%= currentPage - 1  %>)">Previous</button>
      <% } %>

        Page <%= currentPage %> of <%= totalPages %>

            <% if (currentPage < totalPages) { %>
              <button onclick="search(<%= currentPage + 1  %>)">Next</button>
              <% } %>
  </div>
  </div>
  <script>
    function search(pageNumber) {
      console.log('pageNumber: ', pageNumber);
      const searchElement = document.getElementById('searchInput');
      const searchInput = searchElement.value.trim();
      const searchUrl = `/books/search?input=${searchInput}&page=${pageNumber}`;
      console.log('url: ', searchUrl);
      window.location.href = searchUrl;
    }
  </script>
</body>
</html>